@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" id="btnCounter" @onclick="IncrementCount">Click me</button>
<button class="btn btn-secondary" onclick="changeCounterColor()">change click color</button>

<button class="btn btn-secondary" id="btnSayHello" onclick="Script2Test.SayHello()">Greet</button>

@*<button class="btn btn-secondary" id="btnSayHello" @onclick="DoGreeting">Greet</button>*@






