@import "../../Styles/app.css";
@font-face {
  font-family: "Roboto";
  src: url("../Resources/Fonts/Roboto-Medium.ttf") format("truetype");
}
.body {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0-5);
  color: var(#000000DE);
}

.title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-15);
  color: var(#000000DE);
  text-align: left;
  font: normal normal medium 20px/24px Roboto;
  letter-spacing: 0.15px;
  opacity: 1;
}

.headline {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-15);
  color: var(#000000DE);
  text-align: left;
  font: normal normal normal 20px/24px Roboto;
  letter-spacing: 0.15px;
  opacity: 1;
}

.subtitle1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-14);
  color: var(#000000DE);
  text-align: left;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0.14px;
  opacity: 1;
}

.subtitle2 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-1);
  color: var(#000000DE);
  text-align: left;
  font: normal normal medium 14px/24px Roboto;
  letter-spacing: 0.1px;
  opacity: 1;
}

.subheader {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
  color: var(#000000DE);
  text-align: left;
  font: normal normal medium 14px/16px Roboto;
  letter-spacing: 1.06px;
  text-transform: uppercase;
  opacity: 1;
}

.body1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-5);
  color: var(#000000DE);
  text-align: left;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0.5px;
  opacity: 1;
}

.body2 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-25);
  color: var(#000000DE);
  text-align: left;
  font: normal normal normal 14px/20px Roboto;
  letter-spacing: 0.25px;
  opacity: 1;
}

.button {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-1-25);
  color: var(#000000DE);
  text-align: left;
  font: normal normal medium 14px/16px Roboto;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  opacity: 1;
}

.caption {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-4);
  text-align: right;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0.4px;
  color: #00000099;
  opacity: 1;
}

.error-text {
  color: #A2001D;
  opacity: 1;
}

.error-background {
  background: #F4E0E3 0% 0% no-repeat padding-box;
}

a, a:hover, .highcontrast #dialog a, .highcontrast #dialog a:hover {
  color: #244959;
  text-decoration: none;
}

.material-icons md-24 {
  display: inline-block;
}

.comment1 {
  display: inline-block;
  width: 98%;
  overflow: hidden;
  resize: both;
  min-height: 20px;
  line-height: 20px;
}

.comment2 {
  display: inline-block;
  width: 98%;
  overflow: hidden;
  resize: both;
  min-height: 20px;
  line-height: 20px;
}

/*    .e-upload:before {
        content: '\e769';
        font-family: "e-icons";
    }

    .e-upload {
        width: auto;
    }*/
/*    .e-upload2:before {
        content: '\e769';
        font-family: "e-icons";
    }

    .e-upload2 {
        width: auto;
     } */
.fabric #target .e-dialog {
  height: 306px;
}

.material #target .e-dialog {
  height: 270px;
}

.bootstrap4 #target .e-dialog {
  height: 305px;
}

#target .e-dialog {
  height: 270px;
}

#target {
  height: 500px;
}

.checkbox-control {
  margin: 12% 0 12% 40%;
}

.control-section .row {
  margin: 20px 0;
}

.e-btn-group.e-btn-group {
  width: 98%;
  box-shadow: none;
}
.e-btn-group.e-btn-group .e-control.e-btn.e-lib.sf-outline-button {
  border-color: lightgray;
  width: 98%;
  height: 45px;
}

.e-input:not(:valid), .e-input:valid, .e-float-input.e-control-wrapper input:not(:valid), .e-float-input.e-control-wrapper input:valid, .e-float-input input:not(:valid), .e-float-input input:valid, .e-input-group input:not(:valid), .e-input-group input:valid, .e-input-group.e-control-wrapper input:not(:valid), .e-input-group.e-control-wrapper input:valid, .e-float-input.e-control-wrapper textarea:not(:valid), .e-float-input.e-control-wrapper textarea:valid, .e-float-input textarea:not(:valid), .e-float-input textarea:valid, .e-input-group.e-control-wrapper textarea:not(:valid), .e-input-group.e-control-wrapper textarea:valid, .e-input-group textarea:not(:valid), .e-input-group textarea:valid {
  overflow: hidden;
}

.control-area {
  padding-bottom: 20px;
}

.e-input-focus input.label.e-float-text {
  color: #306176 !important;
  overflow: hidden;
}

.e-float-text.e-label-top {
  color: #306176 !important;
}

.e-float-line::after {
  background: #306176 !important;
}

.e-float-line::before {
  background: #306176 !important;
}

.label {
  padding: 10px 24px 10px 0;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #244959;
  background-color: transparent;
}

.e-switch-wrapper {
  display: inline-block;
  height: 12px;
  position: relative;
  user-select: none;
  width: 34px;
  float: right;
}
.e-switch-wrapper .e-switch-handle.e-switch-active {
  background-color: #306176 !important;
}
.e-switch-wrapper .e-switch-wrapper.e-switch-handle.e-switch-active {
  background-color: #306176 !important;
}

.e-switch-inner.e-switch-active > span.e-switch-on {
  background-color: #306176 !important;
}

.e-float-input.e-control-wrapper:not(.e-error) input:valid ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input ~ label.e-label-top.e-float-text {
  font-size: 10px;
}

.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
  background-color: #306176 !important;
}
.e-checkbox-wrapper .e-frame.e-check .hr, .e-css.e-checkbox-wrapper .e-frame.e-check .hr {
  height: 5px;
  border-width: 0;
  color: gray;
}

.e-round {
  right: 50px;
  bottom: 80px;
  position: absolute;
}

.e-control.e-btn.e-lib.e-round.e-primary.e-icon-btn {
  background-color: #CAB637;
}

.e-plus-icon::before {
  content: "\e823";
  color: black;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/gitreposmobileapp/TV-MobilePrototypes/MobilePrototypes/MauiBlazorApp1/MauiBlazorApp1/Pages/Services/services.scss%22,%22file:///C:/gitreposmobileapp/TV-MobilePrototypes/MobilePrototypes/MauiBlazorApp1/MauiBlazorApp1/Styles/ColorsAndFonts.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAS;AC4BT;EACI;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA,OAzHyB;EA0HzB;;;AAGJ;EACI,OAzHU;EA0HV;;;AAGJ;EACI;;;ADzIJ;EACI;EACA;;;AAIJ;EACI;;;AAEJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAEJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAEJ;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAQA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAQA;EACI;;;AAGA;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;AACA;EACI;EACA;EACA;;;AAIR;EACI;;;AAEJ;EACI;;;AAEJ;EACI;EACA;;;AAEJ;EACI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;;;AAGR;EACI;;;AAEJ;EACI;;;AAGJ;EACI;;AAEA;EACI;EACA;EACA;;;AAKR;EACI;EACA;EACA;;;AAGJ;EACI,kBCrJY;;;ADwJhB;EACI;EACA%22%7D */