@page "/blank"
@using MauiBlazorApp1.Pages.Blank

<div class="top-files-navbar">
    <NavLink href="files">
        <p id="top-files-bar-text" class="listTaskBased">Task Based</p>
    </NavLink>
    <NavLink href="blank">
        <p id="top-files-bar-text" class="filesList">List</p>
    </NavLink>
</div>
<h1> Blank page</h1>